//-
	Created by ITUA on 11.05.2017.

<% _.forEach( icons, function( icon ){ %>
mixin svg_<%= icon.className.replace('.', '') %> ()
	svg(class='svg-icon svg-icon_<%= icon.className.replace('.', '') %>')
		use(xlink:href='#<%= icon.className.replace('.', '') %>')
<% }); %>

<% if(icons.length == 0) { %>
mixin svg_empty ()
	div not Svg
<% } %>