doctype html
html(lang='ru' ng-app="app")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block title
            title Дорожно-транспортні випадки
        link(rel='stylesheet', href='css/style.css')

body(data-language='ru' ng-cloak)
    .wrapper
        block header

        block content

        block footer

        block scripts
            script(src='js/app.js')